<div class="container">

    <div id="header">
        <div class="titleHeader">
            <h3>Seed Application</h3>
        </div>
    </div>
    <div class="left-part menu-area">
        <table>
            <tr>
                <td>Name :  </td>
                <td class="inputButton"><input type="text" ng-model = "name"/></td>
            </tr>
            <tr>
                <td>Birth Date :  </td>
                <td class="inputButton"><input type="date" ng-model = "birthDate"/></td>
            </tr>
            <tr>
                <td>Education :  </td>
                <td class="inputButton"><input type="text" ng-model = "education"/></td>
            </tr>
            <tr>
                <td>Department Name :  </td>
                <td class="inputButton"><input type="text" ng-model = "deptName"/></td>
            </tr>
            <tr>
                <td>Title :  </td>
                <td class="inputButton"><input type="text" ng-model = "title"/></td>
            </tr>
        </table>
        <br/>
        <div class ="btn btn-primary" ng-click="saveEmployee()">{{buttonName}} </div>
    </div>
    <div class="right-part menu-area">
        <div  id="grid1" ui-grid="gridOptions"  ui-grid-selection class="grid">
            <div class="no-rows" ng-if="isNoData == 0">
                <div class="msg">
                    <span>No Data</span>
                </div>
            </div>
        </div>
    </div>

</div>
